@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

table {
	position: relative;
	text-align: center;
	top: 0px;
    z-index: 2;
    width:60%;
    left: 20%;
    font-size: 13.2pt;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
  
}

td {
	padding: 20px;
	border-bottom: 2px solid white;
}

#navbar-override {
    margin-bottom: 0px;
}

.title-about h1{
	
	color: white;
}

.title-about {
	position: relative;
	text-align: center;
	top: 0px;
    z-index: 2;
    width:60%;
    left:20%;
    
    border-bottom: 2px solid white;
    padding: 50px
}

.button-container {
	padding: 20px;
}

.button {
	font-size: 125%;
	padding: 10px;
}

.text-section {
	position: relative;
}

.text-section input {
	color: black;
}

.text-section form {
	position: relative;
	text-align: center;
	top: 0px;
    z-index: 2;
    width:60%;
    left:20%;
    font-size: 13.2pt;
}

.about-text {
	
	position: relative;
	text-align: center;
	top: 0px;
    z-index: 2;
    width:60%;
    left:20%;
    font-size: 13.2pt;
    color: white;
    padding-top: 100px;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../video/Big-Apple.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}